### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

## all javac compiled class files
**/*.class

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## exclude lock files
.~lock.*

## all generated mismatch files
mismatches/*.csv

### VS Code ###
.vscode/
### IntelliJ IDEA ###
.idea/
### Mac OS ###
.DS_Store