[submodule "testing/1005139_koh_aik_hong"]
	path = testing/1005139_koh_aik_hong
	url = https://github.com/ffeew/Software-Testing-Mini-Campaign.git
	branch = 1003158_testing
[submodule "testing/1005433_baarath_so"]
	path = testing/1005433_baarath_so
	url = https://github.com/joebaarath/1005433_ESC_Testing_Campaign
    branch = 1003158_testing
